body {
	background-image: url(../Images/logo.png);
	background-repeat: no-repeat;
	background-size:100%;
	width: 100%;
	height: auto;
	position: fixed;
}

.vcenter{
	display: inline-block;
    vertical-align: middle;
}

.navbar {
	background-color: #800000;
	color: white;
	text-align: center;
	height: 75px;
	font-family: Helvetica;
}

.img-responsive {
	height: 90%;
	width: 90%;
}
#aguilas {
	text-align: left;
}

.equipo{
	height: 8%;
	width: 8%;
	float: left;
}

.header {
	font-family: Helvetica;
	text-align: left;
	font-size: 40px;
	margin-left: 50px;
}

.logout {
	height: 70%;
	width: 70%;
	margin-top: 10px;
}

#nombre {
	font-family: Helvetica;
	font-style: italic;
	font-size: 150%;
	margin-top: 25px;
	margin-left: 0;
}

.user {
	height: 70%;
	width: 70%;
	margin-top: 10px;
}

.tabla{
	float: left;
	text-align: left;
	vertical-align: center;
	border: 0;
	margin-left: 100px;
	margin-top: 20px;
	border-collapse: separate;
	border-spacing: 1em;
}

.icon{
	height: 24px;
	width: 24px;
}

.texto{
	font-size: 200%
}

.calendario{
	margin-left: 350px;
	height: 300px;
	width: 275px;
}

.quote{
	margin-top: 15px;
	font-family: georgia;
	font-size: 150%;
	float: right;
	margin-right: 100px;
}

.quote-author {
	font-family: georgia;
	font-size: 150%;
	float: right;
	margin-right: 100px;
}

.col-md-5 {
	float: right;
}