html, body {
	background-color: white;
}
.navbar {
	background-color: #993300;
	color: white;
	text-align: center;
	height: 75px;
}

.img-responsive {
	height: 20%;
	width: 20%;
}

.col-md-8 {
	text-align: left;
	background-color: blue;
}

.header {
	font-family: "Times New Roman", Times;
	text-align: center;
	font-size: 40px;
}
fdsafad