html, body {
	background-color: white;
}
.navbar {
	background-color: #800000;
	color: white;
	text-align: center;
	height: 75px;
	font-family: Helvetica;
}

.img-responsive {
	height: 90%;
	width: 90%;
}
#aguilas {
	text-align: left;
}

.header {
	font-family: Helvetica;
	text-align: left;
	font-size: 40px;
	margin-left: 50px;
}